@use "sass:color";
@use "config";

.about {
  padding-bottom: 20rem;
  padding-top: 150px;

  &__bio-image {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    

    p {
      margin-bottom: 2rem;
    }
  }

  &__bio {
    width: 80%;
    text-align: center;

    .my-text-secondary {
      padding-bottom: 1rem;
    }
  }

  .jobs {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &__job {
      background: color.adjust(config.$primary-color, $lightness: 10%);
      padding: 0.5rem;
      border-bottom: 5px solid config.$secondary-color;

      h2,
      h3 {
        margin: 0.5rem 0;
      }
      h6 {
        margin: 0.3rem 0;
      }
    }
  }

  .social-icons-about {
    display: flex;
    flex-direction: column;
  }

  footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
}

.jobs__job{
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(0px); }
    to { opacity: 1; transform: translateY(100px); }
  }
  animation: fadeIn linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 20%;
}
@media screen and (min-width: 320px){

  .cursor{
    font-size:28px;
  }
   .social-icons-about{
    position:fixed;
    bottom: 0rem;
  }
  .footer-about {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
  }
}