@use "config";

.projects {
  padding-bottom: 2rem;

  &__bio-image {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .my-text-secondary {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &__item {
    position: relative;
    border-bottom: 5px solid config.$secondary-color;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: config.$secondary-color;
      opacity: 0;
      transition:  config.$transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }
      .projects__btn {
        opacity: 1;
      }
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }

  &__btn {
    opacity: 0;
    color: config.set-text-color(config.$secondary-color);
    transition: config.$transition-ease;

    &:hover {
      color: config.set-text-color(
        config.set-text-color(config.$secondary-color)
      );
    }
  }

  @media screen and (min-width: 320px) and (max-width: 425px){
    .social-icons-project {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 35rem;
    }

    .footer-project {
      position: fixed;
      color: config.set-text-color(config.$primary-color);
      transform: rotate(90deg) translate(-3rem, -5rem);
      top: 44rem;
      right: 2rem;
    }
    .projects__items {
      grid-template-columns: repeat(1,1fr);
    }
  }
  @media screen and (min-width: 426px){
    .social-icons-project {
      position: absolute;
      bottom: -10rem;
    }
    .footer-project {
      position: absolute;
      bottom: -10rem;
      right: 2rem;
      color: config.set-text-color(config.$primary-color);
    }
  }
}