@use "config";
@use "home";
@use "menu";
@use "about";
@use "projects";
@use "contact";
@use "responsive";

body {
  background: config.$primary-color;
  height: 100vh;
  font-family: config.$font-family;
  line-height: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background:
    linear-gradient(
      to right,
      rgba(config.$primary-color, 0.9),
      rgba(config.$primary-color, 0.3)
    ),
    url("../img/model-1.jpg") center top;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  padding: 0.4rem;
  transition: config.$transition-ease;
  color: config.set-text-color(config.$primary-color);
  text-decoration: none;

  &:hover {
    color: config.$secondary-color;
  }
}

.my-text-secondary {
  color: config.$secondary-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;

  a {
  padding: 0.4rem;
  transition: config.$transition-ease;
  color: config.set-text-color(config.$primary-color);
  text-decoration: none;

  &:hover {
    color: config.$secondary-color;
  }
}
}
